__pycache__/
.vscode/
*.egg-info/
.venv/
dist/
build
.docs_venv
_build
_archive
_autosummary
.ipynb_checkpoints/
lightning_logs/
*.log
.micromamba/
.cache
.ruff_cache/
*.npz
*.gz
fig/
.mypy_cache
nsight_report*
.pkl_memoize*
.pytest_cache/
site/

*.log
*.swp
*~
,*
.idea/
.vs/
.vscode/
.kilocode/
.~lock.*
/local/
/metadata/md5-cache
/tags

.agent/rules/env.md