torch>=2.8
numpy>=1.24
pandas>=2
scipy>=1.10
jaxtyping>=0.2.20
typing-extensions>=4.5
spikingjelly
# Forked omegaconf from https://github.com/alexfanqi/omegaconf
# For standard install: pip install git+https://github.com/alexfanqi/omegaconf.git
omegaconf
hdf5plugin
plotly
# dynamic tools
# https://github.com/CSchoel/nolds/issues/80
nolds!=0.6.3
powerlaw

torch_sparse
torch_scatter
matplotlib>=3.7

# io
xarray
zarr
numcodecs